@font-face {
    font-family: Nunito;
    src: url("../../public/fonts/Nunito/Nunito-Regular.ttf") format ("ttf");
    color: aquamarine;
}
@font-face {
    font-family: NunitoLight;
    src: url("/fonts/Nunito/Nunito-Light.ttf") format ("ttf");
}
@font-face {
    font-family: Bebas Neue;
    src: url("/fonts/Bebas Neue/BebasNeue-Regular.ttf") format ("ttf");
}